services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    DennisPansegrau\PimcoreContentMigrationBundle\:
        resource: '../src/*'

    DennisPansegrau\PimcoreContentMigrationBundle\Command\:
        resource: '../src/Command/*'
        tags: ['console.command']

    DennisPansegrau\PimcoreContentMigrationBundle\Generator\CodeGenerator:
        arguments:
            $templates: '%pimcore_content_migration.templates%'