services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    PimcoreContentMigration\:
        resource: '../src/*'

    PimcoreContentMigration\Command\:
        resource: '../src/Command/*'
        tags: ['console.command']

    PimcoreContentMigration\Generator\CodeGenerator:
        arguments:
            $templates: '%pimcore_content_migration.templates%'

    PimcoreContentMigration\Builder\:
        resource: '../src/Builder/*'
        public: true