services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    PimcoreContentMigration\:
        resource: '../src/*'

    PimcoreContentMigration\Command\:
        resource: '../src/Command/*'
        tags: ['console.command']

    PimcoreContentMigration\Generator\CodeGenerator:
        arguments:
            $templates: '%pimcore_content_migration.templates%'

    PimcoreContentMigration\Builder\:
        resource: '../src/Builder/*'
        public: true

    PimcoreContentMigration\Writer\NamespaceResolver:
        arguments:
            $dependencyFactory: '@doctrine.migrations.dependency_factory'

    PimcoreContentMigration\Twig\Extension\InstanceOfTwigTest:
        tags: [ 'twig.extension' ]

    PimcoreContentMigration\Converter\Stringifier\ValueToStringConverter:
        public: true
        arguments:
            $handlers: !tagged_iterator 'pcmb.value_stringifier'
        tags:
            - { name: 'pcmb.converter', priority: 0 }

    # Default handler (must be last)
    PimcoreContentMigration\Converter\Stringifier\Handler\DefaultScalarStringifier:
        tags:
            - { name: 'pcmb.value_stringifier', priority: -10000 }

    # Special case handler (high priority)
    PimcoreContentMigration\Converter\Stringifier\Handler\NewExpressionStringifier:
        tags:
            - { name: 'pcmb.value_stringifier', priority: 1000 }

    # Autowire remaining handlers
    PimcoreContentMigration\Converter\Stringifier\Handler\:
        resource: '../src/Converter/Stringifier/Handler/*'
        autowire: true
        autoconfigure: false
        tags:
            - { name: 'pcmb.value_stringifier', priority: 0 }