name: CI Pimcore 11

on:
  push:
    branches: [main]
    paths:
      - "**"
  pull_request:
    paths:
      - "**"

jobs:
  pimcore11:
    runs-on: ubuntu-latest
    env:
      DOCKER_DATABASE: mariadb:10.11
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: bundle

      - name: Pull Pimcore image
        run: |
          set -ex
          docker pull docker.io/pimcore/pimcore:php8.3-v3

      - name: Create Pimcore project
        run: |
          set -ex
          docker run \
            --volume=${{ github.workspace }}/:/test/ \
            --workdir=/test/ \
            --user=$(id -u):$(id -g) \
            docker.io/pimcore/pimcore:php8.3-v3 \
              composer create-project \
                pimcore/demo:@dev \
                --no-install \
                sample-project

      - name: Smoke-test compose file
        run: |
          set -ex
          cd sample-project/
          docker compose -f docker-compose.yaml -f ../bundle/.github/ci/files/docker-compose.yaml config

      - name: Install Pimcore and bundle
        run: |
          set -ex
          cd sample-project/
          docker compose pull --quiet
          docker compose down -v --remove-orphans
          docker compose -f docker-compose.yaml -f ../bundle/.github/ci/files/docker-compose.yaml up -d

          docker compose exec -T -- php composer require --no-update pimcore/platform-version:2024.4
          docker compose exec -T -- php composer remove pimcore/payment-provider-paypal-smart-payment-button --no-update || true
          docker compose exec -T -- php composer config repositories.bundle path /bundle
          docker compose exec -T -- php composer require --no-update dennis-pansegrau/pimcore-content-migration-bundle:@dev
          docker compose exec -T -- php composer update --no-scripts --ignore-platform-req=ext-amqp

          docker compose exec -T -- php bash -c '\
            curl -sfL https://github.com/powerman/dockerize/releases/download/v0.11.5/dockerize-`uname -s`-`uname -m` \
            | install /dev/stdin /usr/local/bin/dockerize'

          docker compose exec -T -- php dockerize -wait tcp://db:3306 -timeout 5m

          docker compose exec -T \
            -e PIMCORE_INSTALL_ADMIN_USERNAME=pimcore \
            -e PIMCORE_INSTALL_ADMIN_PASSWORD=pimcore \
            -e PIMCORE_INSTALL_MYSQL_USERNAME=pimcore \
            -e PIMCORE_INSTALL_MYSQL_PASSWORD=pimcore \
            -- \
            php vendor/bin/pimcore-install -n --mysql-host-socket=db --mysql-database=pimcore

      - name: PHPStan and CS
        run: |
          set -ex
          docker run \
            --volume=${{ github.workspace }}/bundle:/bundle \
            --workdir=/bundle \
            docker.io/pimcore/pimcore:php8.3-v3 \
              bash -lc 'composer install --no-interaction --prefer-dist && composer phpstan && composer cs'

      - name: Compose down
        if: always()
        run: |
          cd sample-project/
          docker compose down -v --remove-orphans
