name: Code Quality

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    code-quality:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Start PHP-FPM Container
              run: docker-compose up -d php

            - name: Run PHPStan
              run: docker-compose run --rm php composer phpstan

            - name: Run PHP CS Fixer
              run: docker-compose run --rm php composer cs

            - name: Stop PHP-FPM Container
              run: docker-compose down
